USE [StudentDB]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[sp_UpdateStudent]
    @StudentId INT,
    @FirstName NVARCHAR(50),
    @LastName NVARCHAR(50),
    @Age INT,
    @Gender NVARCHAR(20),
    @Email NVARCHAR(100),
    @PhoneNumber NVARCHAR(20),
    @City NVARCHAR(50),
    @Course NVARCHAR(50)
AS
BEGIN
    UPDATE StudentDetails
    SET FirstName = @FirstName,
        LastName = @LastName,
        Age = @Age,
        Gender = @Gender,
        Email = @Email,
        PhoneNumber = @PhoneNumber,
        City = @City,
        Course = @Course
    WHERE StudentId = @StudentId;
END;