<div class="container mt-4">
  <div class="dashboard-header shadow p-3 mb-4 bg-dark text-white rounded d-flex justify-content-between align-items-center">
    <h3 class="m-0">Student Dashboard</h3>
    <input
      type="text"
      class="form-control w-25"
      placeholder="Search..."
      [(ngModel)]="searchText"
      (input)="onSearchChange()">
    <button class="btn btn-success" (click)="addStudent()">+ Register</button>
  </div>

  <table class="table table-bordered table-hover shadow-sm">
    <thead class="table-dark">
      <tr>
        <th>S.No</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Age</th>
        <th>Email</th>
        <th>Phone</th>
        <th>City</th>
        <th>Course</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let student of filteredStudents; let i = index">
        <td>{{ i + 1 }}</td>
        <td>{{ student.firstName }}</td>
        <td>{{ student.lastName }}</td>
        <td>{{ student.age }}</td>
        <td>{{ student.email }}</td>
        <td>{{ student.phoneNumber }}</td>
        <td>{{ student.city }}</td>
        <td>{{ student.course }}</td>
        <td>
          <button class="btn btn-info btn-sm me-1" (click)="onEdit(student)">Edit</button>
          <button class="btn btn-danger btn-sm" (click)="onDelete(student.studentId!)">Delete</button>
        </td>
      </tr>

      <tr *ngIf="filteredStudents.length === 0">
        <td colspan="9" class="text-center py-4 text-muted">
          No records found in the database.
        </td>
      </tr>
    </tbody>
  </table>
</div>